* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #b5b5b5;
    height: 100vh;
}

.main-container {
    text-align: center;
    box-shadow: 0 0 10px #000000;
    padding: 2em 5em;
    width: 80%;
}

.main-container h1 {
    text-shadow: 0 0 5px #ffffff;
    padding: 1rem 0;
}


/* for rgba input box css  */

.rgb-field {
    background-color: #ffffff;
}


/* for hex input box  */

.hex-field,
.rgb-field {
    padding: .6em;
    font-size: 1rem;
    width: 20vw;
    color: #000000;
    border: none;
    /* border-top: 1px solid;
    border-left: none;
    border-right: 0px solid;
    border-bottom: 1px solid; */
    border-radius: 0 5px 5px 0;
    box-shadow: 6px 3px 6px 0px #000000;
}

.hex-field:focus,
.rgb-field:focus {
    outline: none;
}


/* change color button css  */

.change-color-btn {
    padding: .5em 1em;
    margin: 1rem 0;
    border: none;
    font-size: 18px;
    box-shadow: 2px 2px 6px 0px #000000;
    cursor: pointer;
}

.change-color-btn:hover {
    background-color: #808080;
    transition: all .5s;
    color: #ffffff;
}

.rgb-middle-container,
.hex-middle-container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rgb-middle-container {
    margin-top: 2em;
}


/* hex copy button css  */

.hex-copy-btn {
    border-radius: 5px;
    padding: .5em;
    width: 70px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    background-color: #b5b5b5;
    box-shadow: 2px 2px 6px 0px #000000;
}

.hex-copy-btn:hover {
    background-color: #666666;
    box-shadow: 2px 2px 6px 0px #000000 inset;
    color: #ffffff;
}


/* rgb copy button css  */

.rgb-copy-btn {
    border-radius: 5px;
    padding: .5em;
    border: 1px solid #eaeaea;
    cursor: pointer;
    width: 70px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: #b5b5b5;
    box-shadow: 2px 2px 6px 0px #000000;
}

.rgb-copy-btn:hover {
    background-color: #666666;
    box-shadow: 2px 2px 6px 0px #000000 inset;
    color: #ffffff;
}


/* input icon set  */

.input-icon {
    padding: .6em;
    padding-top: 10.5px;
    border-top-left-radius: 5px;
    /* border-left: 1px solid; */
    /* border-top: 1px solid; */
    display: inline-block;
    /* border-bottom: 1px solid; */
    border-bottom-left-radius: 5px;
    box-shadow: 6px 3px 6px 0px #000000;
    background-color: #e9e9e9fd;
    /* box-shadow: 3px 3px 6px 0px #000000; */
}


/* generate toast message  */

.toast-message {
    position: fixed;
    font-size: 1.1rem;
    background-color: #006100;
    color: #b5b5b5;
    padding: .5em;
    box-shadow: 3px 3px 6px 0px #000000;
    Right: 10px;
    top: 10px;
}


/* animation for toast message  */

.animation-in-toast {
    animation-name: simple-in;
    animation-duration: 1s;
}

@keyframes simple-in {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animation-out-toast {
    animation-name: simple-out;
    animation-duration: 1s;
}

@keyframes simple-out {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(150px);
        opacity: 0;
    }
}